@for $i from 1 through 3 {
.caja-#{$i} {
width: $i *10%;
height: auto;
background-color: lightslategray;
}

}

@each $foto in receta1, receta2, receta3 {
    .#{$foto}-icon { 
          Background-image:  
           url('/images/#{$foto}.png');
     }
 } 
 